<div><h1>MetaBank</h1></div>

<div class='greeting'>
  <h3>Welcome, <%=current_user.first_name%></h3>
  <% @accountList.each do |acc| %>
   <table>
    <tr>
      <th><%=acc.name%></th>
      <th><%=acc.type%></th>
    </tr>
   </table>
 <% end %>
</div>